package ${package.ServiceImpl}import org.springframework.stereotype.Service;

;
${package.Entity}
        .${entity};
${package.Service}
        .${table.serviceName};
${superServiceImplClassPackage}
        ;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}< ${entity}>(), ${table.serviceName} {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${entity}>implements ${table.serviceName} {

        }
#end